.letter-item {
    cursor: pointer;
    font-family: "SF Pro Display", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    color: rgb(230 32 32);
    border-bottom: 3px solid rgb(230 32 32);
    padding: 24px 0px 16px 32px;
}

.letter-item h2 {
    font-size: 20px;
}

.categories-list{
    margin-top: 20px
}

.categories-list span{
    font-size: 14px;
    /* color: #949494; */
    color: #e62020;
    font-weight: 500;
}

.category-item{
    margin-bottom: 10px;
    cursor: pointer;
    border-bottom: 2px solid rgb(242,244,246);
}

.category-item a {
    font-size: 17px;
    color: rgb(39, 42, 44) !important;
    text-decoration: none !important;
    font-weight: 500;
}

@media (max-width: 767.98px) {
    .categories-catalog{
        margin-top: 4.5rem;
    }
}