<div class="stores-catalog">
    <div class="row" *ngFor="let letter of letters">
        <div class="col letter-item">
            <h2>{{letter}}</h2>
        </div>
        <div class="stores-list">
            <div class="store-item" *ngFor="let store of stores | filterStoresByLetter:letter" [routerLink]="['/home']"
                [queryParams]="{storeId: store.id}">
                <ul>
                  <img [src]="store.thumbnail" class="store-logo">
                    <li><b>{{store.name}}</b><br><span>{{store.hasOffer}} promoções disponíveis</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>