<!doctype html>
<html lang="en">

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background: #E62020;">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']">
        <!-- <i class="fas fa-comment-dollar"></i> -->
        <img style="width: 50px;" src="./assets/logo/meu-ofertao-logo.png">
      </a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
        <button class="navbar-toggler" type="button" (click)="toggleDropdown()" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': isDropdownOpen}">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" [ngClass]="{'show': isDropdownOpen}">      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ categoryId: 1}"><i class="fas fa-tv"></i> Eletrônicos</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ categoryId: 2}"><i class="fa fa-laptop"></i> Informática</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ categoryId: 2472}"><img class="category-icon" src="./assets/categories-icons/clothes-hanger.png"> Moda Feminina</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ categoryId: 287}"><img class="category-icon" src="./assets/categories-icons/makeup.png"> Maquiagem</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ categoryId: 2471}"><img class="category-icon" src="./assets/categories-icons/shirt.png"> Moda Masculina</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ categoryId: 2857}"><img class="category-icon" src="./assets/categories-icons/shoes.png"> Calçados</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ categoryId: 116}"><img class="category-icon" src="./assets/categories-icons/fridge.png"> Eletrodomésticos</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ categoryId: 2468}"><img class="category-icon" src="./assets/categories-icons/accessories.png"> Moda e Acessórios</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" [routerLink]="['/categories']">Ver Todas</a></li>
            </ul>
          </li>     
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Lojas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 5901}"><img class="store-icon" src="./assets/stores-icons/nike.png"> Nike</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 6937}"><img class="store-icon" src="./assets/stores-icons/renner.png"> Renner</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 158}"><img class="store-icon" src="https://www.lomadee.com/programas/BR/158/logo_115x76.png"> Polishop</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 5727}"><img class="store-icon" src="https://www.lomadee.com/programas/BR/5727/logo_115x76.png"> Girafa</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 6826}"><img class="store-icon" src="https://www.lomadee.com/programas/BR/6826/logo_115x76.png"> Xiaomi</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 6126}"><img class="store-icon" src="https://www.lomadee.com/programas/BR/6126/logo_115x76.png"> Vaio</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 6117}"><img class="store-icon" src="https://www.lomadee.com/programas/BR/6117/logo_115x76.png"> Positivo</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 6422}"><img class="store-icon" src="https://www.lomadee.com/programas/BR/6422/logo_115x76.png"> Positivo Casa Inteligente</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 6039}"><img class="store-icon" src="https://www.lomadee.com/programas/BR/6039/logo_115x76.png"> Chico Rei</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 6020}"><img class="store-icon" src="https://www.lomadee.com/programas/BR/6020/logo_115x76.png"> Mania Pop</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 7813}"><img class="store-icon" src="https://www.lomadee.com/programas/BR/7813/logo_115x76.png"> Livrarias Curitiba</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 7804}"><img class="store-icon" src="https://www.lomadee.com/programas/BR/7804/logo_115x76.png"> DLK</a></li>
              <li><a class="dropdown-item" [routerLink]="['/home']" [queryParams]="{ storeId: 8545}"><img class="store-icon" src="https://www.lomadee.com/programas/BR/8545/logo_115x76.png"> Leo Madeiras</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" [routerLink]="['/stores']">Ver Todas</a></li>
            </ul>
          </li>    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Grupos WhatsApp
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://chat.whatsapp.com/HmZ3JBByOckJSUOdBg2f0F" target="_blank"><i class="fa fa-whatsapp" style="color: white;" aria-hidden="true"></i> Melhores Ofertas</a></li>
              <li><a class="dropdown-item" href="https://chat.whatsapp.com/KVdi56w4w6RHF3BrHQfBaI" target="_blank"><i class="fa fa-whatsapp" style="color: white;" aria-hidden="true"></i> Melhores Cupons de Desconto</a></li>
              <li><a class="dropdown-item" href="https://chat.whatsapp.com/F8wacxUWHEv0Fr8Cx5paxn" target="_blank"><i class="fa fa-whatsapp" style="color: white;" aria-hidden="true"></i> Ofertas Eletrônicos</a></li>
              <li><a class="dropdown-item" href="https://chat.whatsapp.com/BGVWD8u0sOuFk8T30A5TJl" target="_blank"><i class="fa fa-whatsapp" style="color: white;" aria-hidden="true"></i> Ofertas Renner</a></li>
              <li><a class="dropdown-item" href="https://chat.whatsapp.com/LHHvhSiv45B2LKyeuZPFsp" target="_blank"><i class="fa fa-whatsapp" style="color: white;" aria-hidden="true"></i> Ofertas Nike</a></li>
              <li><a class="dropdown-item" href="https://chat.whatsapp.com/BwRgA8se5BvItA3xcqp3Gz" target="_blank"><i class="fa fa-whatsapp" style="color: white;" aria-hidden="true"></i> Ofertas Informática</a></li>
              <li><a class="dropdown-item" href="https://chat.whatsapp.com/JoSWJrZtBSIBNn0skAIKV6" target="_blank"><i class="fa fa-whatsapp" style="color: white;" aria-hidden="true"></i> Ofertas Polishop</a></li>
              <li><a class="dropdown-item" href="https://chat.whatsapp.com/GcoU6td0lXI4XlJgkps7do" target="_blank"><i class="fa fa-whatsapp" style="color: white;" aria-hidden="true"></i> Ofertas Decathlon</a></li>
              <li><a class="dropdown-item" href="https://chat.whatsapp.com/LFQ3AGiPq5gJv9YmcruR69" target="_blank"><i class="fa fa-whatsapp" style="color: white;" aria-hidden="true"></i> Ofertas Positivo</a></li>
              <li><a class="dropdown-item" href="https://chat.whatsapp.com/GjtVAoR2ZxHKLy0Fg42T7f" target="_blank"><i class="fa fa-whatsapp" style="color: white;" aria-hidden="true"></i> Ofertas Amazon</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Ver Todas</a></li>
            </ul>
          </li>   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Grupos Telegram
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://t.me/+mdBTjPBLqw03MmE5" target="_blank"><i class="fa fa-telegram" style="color: white;" aria-hidden="true"></i> Melhores Ofertas</a></li>
              <li><a class="dropdown-item" href="https://t.me/+aRMepSxndzhjOGQx" target="_blank"><i class="fa fa-telegram" style="color: white;" aria-hidden="true"></i> Melhores Cupons de Desconto</a></li>
              <li><a class="dropdown-item" href="https://t.me/+Q4i8ng4F9ldjZWZh" target="_blank"><i class="fa fa-telegram" style="color: white;" aria-hidden="true"></i> Ofertas Eletrônicos</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Ver Todas</a></li>
            </ul>
          </li>  
        </ul>
        <div class="search-container d-flex">
          <!-- <form action="/action_page.php">
            <input type="text" placeholder="Pesquisar" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form> -->
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</body>

</html>