.card-title{
    height: 80px;
}

.product-card{
   margin-top: 50px;
}

.product-price{
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    color: #E62020;
}

.product-price-from{
    text-align: right;
    font-size: 17px;
    color: #949494;
    text-decoration: line-through;
    font-weight: 500;
}

.card-body a{
    width: 100%;
    margin: 0 auto;
    height: 50px;
    line-height: 2;
    font-weight: bold;
}

.store-thumbnail{
    width: 80px;
    margin-bottom: 10px;
}

.card-img-top{
    height: 220px !important;
}

.btn-desconto{
    color: white;
    background-color: #E62020;
}

.btn-desconto:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fa.fa-whatsapp{
    font-size: 30px;
    color: limegreen;
}

.fa.fa-telegram{
    font-size: 28px;
    margin-left: 20px;
}

.fa.fa-link{
    font-size: 25px;
    margin-right: 20px;
}

.snack-bar{
    z-index: 10;
}

.share-buttons{
    text-align: center;
}

@media (max-width: 767.98px) {
    .products-catalog {
        margin-top: 2rem;
    }

    .card-img-top{
        height: 330px !important;
    }
}